@model IEnumerable<MobildeShop.Models.Order>

@{
    ViewBag.Title = "OrdesrManager";
}

<h2>Quản lý công nợ</h2>

<p>
    @Html.ActionLink("Create New", "Index")
</p>
<div ng-app="appOrder">
    <div ng-controller="orderController">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        <button class="btn btn-link" ng-click="sort('')">Ngày tạo <span ng-show="sortString == ''" ng-class="isAsc == true ? 'glyphicon glyphicon-arrow-up' : 'glyphicon glyphicon-arrow-down'"></span></button>
                    </th>
                    <th>
                        <button class="btn btn-link" ng-click="sort('Name')">Khách Hàng <span ng-show="sortString == 'Title'" ng-class="isAsc == true ? 'glyphicon glyphicon-arrow-up' : 'glyphicon glyphicon-arrow-down'"></span></button>
                    </th>
                    <th>
                        <button class="btn btn-link" ng-click="sort('Price')">Tổng tiền<span ng-show="sortString == 'Price'" ng-class="isAsc == true ? 'glyphicon glyphicon-arrow-up' : 'glyphicon glyphicon-arrow-down'"></span></button>
                    </th>
                    <th>
                        <button class="btn btn-link" ng-click="sort('Title')">Tiêu đề <span ng-show="sortString == 'Description'" ng-class="isAsc == true ? 'glyphicon glyphicon-arrow-up' : 'glyphicon glyphicon-arrow-down'"></span></button>
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in productList">
                    <td>
                        {{item.CreateDate}}
                    </td>
                    <td>
                        {{item.Customer.Name}}
                    </td>
                    <td>
                        {{item.TotalAmount}}
                    </td>
                    <td>
                        {{item.Title}}
                    </td>
                    <td>
                        <button class="btn btn-default" ng-click="loadProduct(item.id, true, 'Sửa')" data-toggle="modal" data-target="#mainModal">Sửa</button>

                        <button class="btn btn-info" ng-click="loadProduct(item.id, false, '')" data-toggle="modal" data-target="#mainModal">Chi tiết</button>
                        <button class="btn btn-danger" ng-click="loadProduct(item.id, false, 'Xóa')" data-toggle="modal" data-target="#mainModal">Xóa</button>

                    </td>
                </tr>
            </tbody>

        </table>
        <ul class="pagination" ng-repeat="i in totalPage">
            <li>
                <button type="button" ng-class="currentPage == i ? 'btn btn-primary' : 'btn btn-default'" ng-click="loadProducts(i)">{{i}}</button>
            </li>
        </ul>
    </div>
</div>


@section Scripts {
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/SPA/orderController.js"></script>
    <script src="~/Scripts/SPA/orderService.js"></script>
}