@model IEnumerable<MobildeShop.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách sản phẩm</h2>
<div ng-app="app">
    <div ng-controller="productController">
        <p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#mainModal" ng-click="create()">Thêm mới</button>
        </p>
        <div class="col-sm-2">
            <label>Hiển thị: </label><input class="form-control col-md-1" type="number" min="1" ng-model="displayNum" ng-change="loadProducts(1)" size="3" />
        </div>
        <div class="col-md-6">
            <label>Tìm kiếm: </label><input class="form-control" ng-model="searchText" ng-change="loadProducts(1)" />
        </div>
        <table class="table table-bordered table-striped" id="example">
            <thead>
                <tr>
                    <th>
                        <button class="btn btn-link"  ng-click="sort('')" >Mã SP <span ng-show="sortString == ''" ng-class="isAsc == true ? 'glyphicon glyphicon-arrow-up' : 'glyphicon glyphicon-arrow-down'"></span></button>
                    </th>
                    <th>
                        <button class="btn btn-link"  ng-click="sort('Title')" >Tên SP <span ng-show="sortString == 'Title'" ng-class="isAsc == true ? 'glyphicon glyphicon-arrow-up' : 'glyphicon glyphicon-arrow-down'"></span></button>
                    </th>
                    <th>
                        <button class="btn btn-link" ng-click="sort('Price')">Giá sản phẩm <span ng-show="sortString == 'Price'" ng-class="isAsc == true ? 'glyphicon glyphicon-arrow-up' : 'glyphicon glyphicon-arrow-down'"></span></button>
                    </th>
                    <th>
                        <button class="btn btn-link"  ng-click="sort('Description')" >Mô tả sản phẩm <span ng-show="sortString == 'Description'" ng-class="isAsc == true ? 'glyphicon glyphicon-arrow-up' : 'glyphicon glyphicon-arrow-down'"></span></button>
                    </th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in productList">
                    <td>
                        {{item.Code}}
                    </td>
                    <td>
                        {{item.Title}}
                    </td>
                    <td>
                        {{item.Description}}
                    </td>
                    <td>
                        {{item.Price}}
                    </td>
                    <td>
                        <button class="btn btn-default" ng-click="loadProduct(item.id, true, 'Sửa')" data-toggle="modal" data-target="#mainModal">Sửa</button>

                        <button class="btn btn-info" ng-click="loadProduct(item.id, false, '')" data-toggle="modal" data-target="#mainModal">Chi tiết</button>
                        <button class="btn btn-danger" ng-click="loadProduct(item.id, false, 'Xóa')" data-toggle="modal" data-target="#mainModal">Xóa</button>

                    </td>
                </tr>
            </tbody>

        </table>
        <ul class="pagination" ng-repeat="i in totalPage">
            <li>
                <button type="button" ng-class="currentPage == i ? 'btn btn-primary' : 'btn btn-default'" ng-click="loadProducts(i)">{{i}}</button>
            </li>
        </ul>


        <!-- Modal -->
        <div id="mainModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thông tin sản phẩm</h4>
                    </div>
                    <div class="modal-body">

                        <div ng-show="editable">
                            <div class="row">
                                <label class=" control-label col-md-3">Mã sản phẩm: </label>
                                <input ng-model="product.Code" class="form-control col-md-9" />
                            </div>
                            <div class="row">
                                <label class=" control-label col-md-3">Tên sản phẩm: </label>
                                <input ng-model="product.Title" class="form-control col-md-9"/>
                            </div>
                            <div class="row">
                                <label class=" control-label col-md-3">Mô tả: </label>
                                <input ng-model="product.Description" class="form-control col-md-9" />
                            </div>
                            <div class="row">
                                <label class=" control-label col-md-3">Giá bán: </label>
                                <input ng-model="product.Price" class="form-control col-md-9" type="number" min="1.0" />
                            </div>                        
                        </div>

                        <div ng-show="!editable">
                            <div class="row">
                                <label class="col-md-3">Mã sản phẩm: </label><div class=" col-md-4">{{product.Code}}</div>
                            </div>
                            <div class="row">
                                <label class="col-md-3">Tên sản phẩm: </label><div class=" col-md-4">{{product.Title}}</div>
                            </div>
                            <div class="row">
                                <label class="col-md-3">Mô tả: </label><div class=" col-md-4">{{product.Description}}</div>
                            </div>
                            <div class="row">
                                <label class="col-md-3">Giá: </label><div class=" col-md-4">{{product.Price}}</div>
                            </div>                         
                        </div >
                        <div class="row">
                            <div class="text-danger align-center" ng-show="BtnText === 'Xóa'">Bạn có chắc chắn muốn xóa không? </div>
                        </div>
                        <div class="clearfix">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-show="BtnText" ng-disabled="!product.Code || !product.Title || !product.Price" data-dismiss="modal" ng-click="BtnClick()">{{BtnText}}</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/SPA/productcontroller.js"></script>
    <script src="~/Scripts/SPA/productService.js"></script>                                     
}